// About page
.story-section
    margin-top: 10%
    margin-bottom: 5%
    .container
        // flex-wrap: wrap
        justify-content: space-around
        .story-text
            flex-basis: 60%
            align-self: center
            padding: 30px
            // width: calc(40% - 60px)
            .story-quote
                font-weight: 100
                font-size: 120%
        .story-photo
            padding: 30px
            // width: calc(30% - 60px)
            img
                width: 100%
                height: auto
.about-info
    margin-top: 10%
    .container
        flex-direction: column
    .about-title
        padding: 2%
        font-size: 250%
    .about-text
        font-size: 150%
        width: 70%
        padding: 2%

.about-values
    margin-top: 10%
    .about-values_wrapper
        // flex-wrap: wrap
        justify-content: space-around

        .about-values__item
            // width: calc(30% - 40px)
            margin: 8% 20px
            flex-direction: column
            align-items: center
            justify-content: space-between
            .about__item__text
                height: 200px
                
            .about__item__header
                font-weight: bold
                font-size: 160%
                margin-bottom: 10%
            .about__item__icon
                margin-bottom: 10%
                img
                    width: 64px
.about-staff
    margin-bottom: 10%
    .glide
        margin-top: 10%
.about-staff__title
    margin-top: 10%
    font-size: 200%
    font-weight: 700
    margin-bottom: 4%
    text-align: center

.about-staff__info
    text-align: center

.about-staff__item
    flex-direction: column
    justify-content: center
    align-items: center
    // width: 30%
    padding: 0 40px
    .about-staff__name
        margin-top: 5%
        font-weight: bold
        font-size: 1.4em
    .about-staff__position
        font-weight: 100
        margin-bottom: 10%

.partner__title
    margin-top: 10%
    margin-bottom: 5%
    font-size: 200%
    text-align: center

.partners__row
    justify-content: space-around
    flex-wrap: wrap
    margin-bottom: 5%
    .partner__img
        width: 180px
        img
            width: 100%

