// About page
.story-section
    margin-top: 10%
    margin-bottom: 5%
    .container
        flex-wrap: wrap
        justify-content: space-around
        .story-text
            align-self: center
            padding: 30px
            width: calc(40% - 60px)
        .story-photo
            padding: 30px
            width: calc(30% - 60px)
            img
                width: 100%
                height: auto
