@import header
@import footer
@import variables
@import common
@import programms
@import about
@import media
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core"
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme"


body
    color: #212121
    box-sizing: border-box
    margin: 0
    padding: 0
    background-color: #f3f3f3
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-family: 'Gotham Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

// Top-section
.top-section
    margin-bottom: 8%
    margin-top: 14%
    h1
        font-size: 2rem
    p
        font-size: 1.2rem
    .btn
        border: 1px solid $green
        transition: .3s
        &:hover
            background-color: #f3f3f3
            color: $green
.top-section__wrapper
    flex-wrap: wrap
    margin-top: 5%
    align-content: center
    a
        text-decoration: none
.smart-kid__col
    justify-content: center

.top-section__text
    flex-direction: column
    justify-content: space-around
    a
        align-self: flex-start

.smart-kid__img

    width: 70%
    height: auto

//Our groups
.our-groups
    h2
        text-align: center
        margin-top: 5%
        padding: 5% 0
    .container
        background-color: #fff
    

.group__img
    width: 100px
    height: auto
    margin: 0px 30px
.our-groups__wrapper
    padding-bottom: 5%
    flex-wrap: wrap
    p
        margin: 4px
    .col-50
        padding: 40px 0px
        // margin-bottom: 40px
        margin: 15px
        width: calc(50% - 30px)
        transition: .5s
        &:hover
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);

.group-text__wrapper
    flex-direction: column
 

// Our-values
.our-values
    margin: 8% 0
    h2
        text-align: center

.our-values__wrapper
    flex-wrap: wrap

.values__i
    padding: 30px 0px
    margin: 15px
    flex-direction: column
    align-items: center
    .small-text
        padding: 0px 30px
    img
        width: 20%

// Events section
.events-section
    // padding-bottom: 5%
    h2
        text-align: center
        margin-bottom: 10%
        padding-top: 10%
.event__item
    padding: 20px
    flex-direction: column
    text-align: center
    .event__title-row
        line-height: 0
        margin-bottom: 5%
    .event__name
        font-size: 140%
        
    .event__date
        font-size: 90%
    .event__description
        font-weight: 100
    .event__img
        margin-top: 20%

// Review section
.review-section
    padding-bottom: 5%
    h2
        text-align: center
        margin-bottom: 10%
        padding-top: 10%
.review__item
    padding: 20px
    flex-direction: column
    text-align: center
    .review__title-row
        line-height: 0
        margin-bottom: 5%
    .review__name 
        font-size: 140%
    .review__child
        font-size: 90%
    .review__text
        font-weight: 100
    .review__img
        margin-bottom: 2%



// // Media queries
// @media screen and ( max-width:  768px)
//     body
//         font-size: 1.8rem
//     body.lock
//         overflow: hidden
//     .top-section
//         margin-bottom: 8%
//         margin-top: 80%
//     .logo
//         margin-left: 5%
//         width: 30%
//         padding: 5% 0
//     .smart-kid__col
//         margin-top: 4%
//     .mob-menu__img
//         width: 10%
//     .top-section__text
//         h1
//             font-size: 200%
//         p 
//             font-size: 100%
//         align-items: center
//     .top-section__text
//         .btn
//             display: none
//         a
//             align-self: center
//             margin: 4% 0
//             font-size: 120%
//     .top-section__wrapper
//         margin-bottom: 14%
//     // .main-menu__list
//     //     display: none
//     .our-groups
//         h2
//             padding-top: 12%
//     .our-groups__wrapper
//         margin-top: 10%
//         .col-50
//             width: calc(100% - 30px)
//             // justify-content: space-around
//             margin-left: 6rem
//             margin-bottom: 6rem
//             &:hover
//                 box-shadow: none
//     .group-text__wrapper
//         p
//             font-size: 140%
//     .group__img
//         width: 20%
//         margin-right: 6rem
//     .top-section__wrapper
//         .col-50
//             width: calc(100%)
//     .our-values
//         h2
//             padding: 10% 0
//     .values__i
//         width: calc(100% - 30px)
//         margin-bottom: 6rem
//         .medium-text
//             font-size: 200%
//         .small-text
//             font-size: 110%
//     footer
//         font-size: 120%

//         .col-30
//             width: calc(100%)
//             text-align: center
//     .mob-menu__img
//         display: block
//     .header__burger
//         position: relative
//         margin-right: 5%
//         z-index: 3
//         width: 120px
//         height: 80px
        
//         &::after, &::before
//             content: ''
//             background-color: #212121
//             position: absolute
//             width: 100%
//             height: 4px
//             left: 0
//             transition: all 0.3s ease 0s
//         &::before
//             top: 0
//         &::after
//             bottom: 0
//         span
//             background-color: #212121
//             position: absolute
//             left: 0
//             top: 39px
//             width: 100%
//             height: 4px
//             transition: all 0.3s ease 0s
            


//     .header__burger.active
//         &::before
//             transform: rotate(45deg)
//             top: 38px
//         &::after
//             transform: rotate(-45deg)
//             bottom: 38px      
//         span
//             transform: scale(0)

//     .main-menu
//         position: fixed
//         top: -100%
//         left: 0
//         width: 100%
//         height: 100%
//         background-color: white
//         color: white
//         padding: 280px 0px 0px 0px
//         transition: all 0.3s ease 0s
        

//         .main-menu__list
//             display: block
//             li
//                 margin: 10px 0 20px 0
//                 a
//                     font-size: 300%
//     .main-menu.active
//         top: 0

            
         
@media screen and ( max-width:  768px)
    body
        font-size: 1.8rem
    body.lock
        overflow: hidden
    .top-section
        margin-bottom: 8%
        margin-top: 80%
    .logo
        margin-left: 5%
        width: 30%
        padding: 5% 0
    .smart-kid__col
        margin-top: 4%
    .mob-menu__img
        width: 10%
    .top-section__text
        h1
            font-size: 200%
        p 
            font-size: 100%
        align-items: center
    .top-section__text
        .btn
            display: none
        a
            align-self: center
            margin: 4% 0
            font-size: 120%
    .top-section__wrapper
        margin-bottom: 14%
    // .main-menu__list
    //     display: none
    .our-groups
        h2
            padding-top: 12%
    .our-groups__wrapper
        margin-top: 10%
        .col-50
            width: calc(100% - 30px)
            // justify-content: space-around
            margin-left: 6rem
            margin-bottom: 6rem
            &:hover
                box-shadow: none
    .group-text__wrapper
        p
            font-size: 140%
    .group__img
        width: 20%
        margin-right: 6rem
    .top-section__wrapper
        .col-50
            width: calc(100%)
    .our-values
        h2
            padding: 10% 0
            font-size: 280%
    .values__i
        width: calc(100% - 30px)
        margin-bottom: 6rem
        .medium-text
            font-size: 200%
            font-weight: bold
        .small-text
            font-size: 150%
            font-weight: normal
            text-align: center
    footer
        font-size: 120%

        .col-30
            width: calc(100%)
            text-align: center
    .mob-menu__img
        display: block
    .header__burger
        position: relative
        margin-right: 5%
        z-index: 3
        width: 120px
        height: 80px
        
        &::after, &::before
            content: ''
            background-color: #212121
            position: absolute
            width: 100%
            height: 4px
            left: 0
            transition: all 0.3s ease 0s
        &::before
            top: 0
        &::after
            bottom: 0
        span
            background-color: #212121
            position: absolute
            left: 0
            top: 39px
            width: 100%
            height: 4px
            transition: all 0.3s ease 0s
            

    .event__item
        font-size: 200%
        .event__img
            width: 90%
            align-self: center

    .review__item
        // padding: 0 5%
        font-size: 200%
        .review__img
            width: 90%
            align-self: center
        .review__text
            text-align: left
            padding: 0 5%
    .header__burger.active
        &::before
            transform: rotate(45deg)
            top: 38px
        &::after
            transform: rotate(-45deg)
            bottom: 38px      
        span
            transform: scale(0)

    .main-menu
        position: fixed
        top: -100%
        left: 0
        width: 100%
        height: 100%
        background-color: white
        color: white
        padding: 280px 0px 0px 0px
        transition: all 0.3s ease 0s
        

        .main-menu__list
            display: block
            li
                margin: 10px 0 20px 0
                a
                    font-size: 300%
    .main-menu.active
        top: 0



    .story-text


        
    .story-photo
        img
            width: 100%

        align-self: center
    .story-section
        margin-top: 50%
        .container
            flex-direction: column
    
    .about-values__item
        width: 50%


    .about-values_wrapper
        flex-direction: column
        align-items: center

    .partner__title
        text-align: center
        margin-top: 20%

    .about-staff
        .glide
            margin-top: 15%

    .about-staff__title
        text-align: center
    .about-staff__info
        padding: 0 20px
    .partners__row
        flex-direction: column
        align-items: center
    .partner__img
        margin-bottom: 5%
