footer.bg-black
    .container.d-flex
        .col-30.d-flex
            h2 Контакты
            div ул. Пушкина, д 7
            div 410-10-10
            div umka@mail.ru
        .col-30.d-flex
            h2 Группы
            div 
                a(href="") Ясли
            div 
                a(href="") Ясли +
            div 
                a(href="") Детский сад
            div 
                a(href="") Дошкольная
        .col-30.d-flex
            h2 Программы
            div
                a(href="") Футбол
            div
                a(href="") Бассейн
            div
                a(href="") Шахматы
            div
                a(href="") Вокал
            div
                a(href="") Йога
        