footer.bg-black
    .container.d-flex
        .col-30.d-flex
            h2 Контакты
            div ул. Пушкина, д 7
            div 410-10-10
            div umka@mail.ru
        .col-30.d-flex
            h2 Группы
            div 
                a(href="groups.html") Ясли
            div 
                a(href="groups.html") Ясли +
            div 
                a(href="groups.html") Детский сад
            div 
                a(href="groups.html") Дошкольная
        .col-30.d-flex
            h2 Программы
            div
                a(href="programms.html") Футбол
            div
                a(href="programms.html") Бассейн
            div
                a(href="programms.html") Шахматы
            div
                a(href="programms.html") Вокал
            div
                a(href="programms.html") Йога
        