header.main-header
    .container
        .header-content.d-flex
            .logo
                img(src="images/umka_logo.svg", alt="")
            .header__burger
                span
            nav.main-menu
                ul.main-menu__list.d-flex
                    li.main-menu__item
                        a(href="about.html") О нас
                    li.main-menu__item
                        a(href="programms.html") Программы
                    li.main-menu__item
                        a(href="groups.html") Группы
                    li.main-menu__item
                        a(href="staff.html") Персонал

            //- img.mob-menu__img(src="images/icons/mobmenu.svg", alt="")
    