mixin scripts(scripts)
	each name in scripts
		- src = 'js/' + name;
		script(src=src)

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, maximum-scale=1.0")
		title Развивающий детский сад "Умка"
		link(rel="shortcut icon", href="../images/icons/fav.png", type="image/x-icon")
		link(rel="stylesheet" type="text/css" href="./css/styles.min.css")
	body
		include blocks/header


		section.story-section
			.container.d-flex
				.story-text
					p.story-quote “В 2001 году я хотел отдать своего ребенка в детский сад. Но не было ни одного варианта,где ребенок мог бы развить свои способности.Тогда и возникла идея создать уникальный детский сад “Умка” с дополнительными программами, направленными на всестороннее развитие ребенка.”
					p Основатель детского сада “Умка”
					p Котов Антон Бориович
				.story-photo
					img(src="images/owner.png", alt="")
		section.about-info
			.container.d-flex
				p.about-title Учись, играя!
				p.about-text Наша философия - это обучение через игру, и мы предлагаем всё необходимое для этого. Игровая форма обучения дает возможность детям с интересом относиться к новым изучаемым дисциплинам. 
				p.about-text Мы разработали несколько уникальных программ, в которых ваши детибудут учиться музыке, рисованию, иностранным языкам, чтению, основам математики и многому другому.
				p.about-text Все занятия проходят в игровой форме, доставляя вашим детям максимум радости
		section.about-values
			.container.about-values_wrapper.d-flex
				.about-values__item.d-flex
					.about__item__header Безопасность
					.about__item__icon
						img(src="images/shield.svg", alt="")
					.about__item__text Безопасность детей один из важнейших приоритетов нашей работы. Вход на территорию оснащен контролем доступа. Мы использукм современные системы безопасности и круглосуточное видонаблюдение. Вы в любой момент можете посмотреть чем занимается ваш ребёнок.
				.about-values__item.d-flex
					.about__item__header Безопасность
					.about__item__icon
						img(src="images/shield.svg", alt="")
					.about__item__text Безопасность детей один из важнейших приоритетов нашей работы. Вход на территорию оснащен контролем доступа. Мы использукм современные системы безопасности и круглосуточное видонаблюдение. Вы в любой момент можете посмотреть чем занимается ваш ребёнок.

				.about-values__item.d-flex
					.about__item__header Безопасность
					.about__item__icon
						img(src="images/shield.svg", alt="")
					.about__item__text Безопасность детей один из важнейших приоритетов нашей работы. Вход на территорию оснащен контролем доступа. Мы использукм современные системы безопасности и круглосуточное видонаблюдение. Вы в любой момент можете посмотреть чем занимается ваш ребёнок.

			



		include blocks/footer
		+scripts(["jquery.min.js", "main.js"]) 