mixin scripts(scripts)
	each name in scripts
		- src = 'js/' + name;
		script(src=src)

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, maximum-scale=1.0")
		title Развивающий детский сад "Умка"
		link(rel="shortcut icon", href="../images/icons/fav.png", type="image/x-icon")
		link(rel="stylesheet" type="text/css" href="./css/styles.min.css")
	body
		include blocks/header


		section.story-section
			.container.d-flex
				.story-text
					p.story-quote “В 2001 году я хотел отдать своего ребенка в детский сад. Но не было ни одного варианта,где ребенок мог бы развить свои способности.Тогда и возникла идея создать уникальный детский сад “Умка” с дополнительными программами, направленными на всестороннее развитие ребенка.”
					p Основатель детского сада “Умка”
					p Котов Антон Бориович
				.story-photo
					img(src="images/owner.png", alt="")
		section.about-info
			.container.d-flex
				p.about-title Учись, играя!
				p.about-text Наша философия - это обучение через игру, и мы предлагаем всё необходимое для этого. Игровая форма обучения дает возможность детям с интересом относиться к новым изучаемым дисциплинам. 
				p.about-text Мы разработали несколько уникальных программ, в которых ваши детибудут учиться музыке, рисованию, иностранным языкам, чтению, основам математики и многому другому.
				p.about-text Все занятия проходят в игровой форме, доставляя вашим детям максимум радости
		section.about-values
			.container.about-values_wrapper.d-flex
				.about-values__item.d-flex
					.about__item__header Безопасность
					.about__item__icon
						img(src="images/shield.svg", alt="")
					.about__item__text Безопасность детей один из важнейших приоритетов нашей работы. Вход на территорию оснащен контролем доступа. Мы использукм современные системы безопасности и круглосуточное видонаблюдение. Вы в любой момент можете посмотреть чем занимается ваш ребёнок.
				.about-values__item.d-flex
					.about__item__header Развитие
					.about__item__icon
						img(src="images/atom.svg", alt="")
					.about__item__text Безопасность детей один из важнейших приоритетов нашей работы. Вход на территорию оснащен контролем доступа. Мы использукм современные системы безопасности и круглосуточное видонаблюдение. Вы в любой момент можете посмотреть чем занимается ваш ребёнок.

				.about-values__item.d-flex
					.about__item__header Забота
					.about__item__icon
						img(src="images/care.svg", alt="")
					.about__item__text Безопасность детей один из важнейших приоритетов нашей работы. Вход на территорию оснащен контролем доступа. Мы использукм современные системы безопасности и круглосуточное видонаблюдение. Вы в любой момент можете посмотреть чем занимается ваш ребёнок.

		section.about-staff
			.container
				.about-staff__title Встречайте нашу команду
				p.about-staff__info Все наши сотрудники прошли обучение в лучших учебных заведениях России и Европы.
				p.about-staff__info Мы грамотно сочетаем опыт и применяем современные методы обучения.

				.about-staff__item.d-flex
					.about-staff__photo
						img(src="images/about-staff-1.png", alt="")
					.about-staff__name Краснова Ирина Сергеевна
					.about-staff__position Воспитатель младших групп
					.about-staff__description Более 10 лет воспитывает детей младшего возраста в “Умке”. Во время обучения проходила стажировку в Европейском центре воспитания детей в г. Утрехт (Нидерланды).
				.about-staff__item.d-flex
					.about-staff__photo
						img(src="images/about-staff-2.png", alt="")
					.about-staff__name Смолова Юлия Андреевна
					.about-staff__position Воспитатель детского сада
					.about-staff__description Более 10 лет воспитывает детей младшего возраста в “Умке”. Во время обучения проходила стажировку в Европейском центре воспитания детей в г. Утрехт (Нидерланды).

				.about-staff__item.d-flex
					.about-staff__photo
						img(src="images/about-staff-3.png", alt="")
					.about-staff__name Белова Ольга Юрьевна
					.about-staff__position Воспитатель дополнительных программ
					.about-staff__description Более 10 лет воспитывает детей младшего возраста в “Умке”. Во время обучения проходила стажировку в Европейском центре воспитания детей в г. Утрехт (Нидерланды).

		section.interior-section
			.container
				.interior-photo
					img(src="images/interior-1.png", alt="")
				.interior-photo
					img(src="images/interior-2.png", alt="")

		section.patnters-section
			.container
				.partner__title Наши партнеры
				.partners__row.d-flex
					.partner__img
						img(src="images/partner-1.png", alt="")
					.partner__img
						img(src="images/partner-2.png", alt="")
					.partner__img
						img(src="images/partner-3.png", alt="")
					.partner__img
						img(src="images/partner-4.png", alt="")


		include blocks/footer
		+scripts(["jquery.min.js", "main.js"]) 