<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Document
	link(rel="stylesheet" type="text/css" href="./css/styles.min.css")
body
	include blocks/header
	section.section
		.container
			.top-section__wrapper.d-flex
				.col-50.top-section__text.d-flex
					h1 Развивающий детсикй сад “Умка”
					p Мы предлагаем уникальные программы развития ваших детей
					a.btn.btn_green(href="") УЗНАТЬ БОЛЬШЕ
				.col-50.smart-kid__col.d-flex
					img.smart-kid__img(src="../images/smart_kid.png", alt="")
	section.bg-white.our-groups
		.container
			h2 НАШИ ГРУППЫ
			.our-groups__wrapper.d-flex
				.col-50.d-flex
					img.group__img(src="../images/icons/milk.svg", alt="")
					.group-text__wrapper.d-flex
						p.head-text ЯСЛИ
						p.medium-text (1,5 - 2 лет)
						p.small-text Группа для подрастающих
				.col-50.d-flex
					img.group__img(src="../images/icons/bucket.svg", alt="")
					.group-text__wrapper.d-flex
						p.head-text ЯСЛИ +
						p.medium-text (2 - 3 лет)
						p.small-text Группа для самых любопытных
				.col-50.d-flex
					img.group__img(src="../images/icons/pyramid.svg", alt="")
					.group-text__wrapper.d-flex
						p.head-text ДЕТСКИЙ САД
						p.medium-text (3 - 4 лет)
						p.small-text Группа для подрастающих
				
				.col-50.d-flex
					img.group__img(src="../images/icons/abc.svg", alt="")
					.group-text__wrapper.d-flex
						p.head-text ДОШКОЛЬНАЯ
						p.medium-text (4 - 6 лет)
						p.small-text Группа для самых взрослых

