mixin scripts(scripts)
	each name in scripts
		- src = 'js/' + name;
		script(src=src)

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, maximum-scale=1.0")
		title Развивающий детский сад "Умка"
		link(rel="shortcut icon", href="../images/icons/fav.png", type="image/x-icon")
		link(rel="stylesheet" type="text/css" href="./css/styles.min.css")
	body
		include blocks/header

		section.programms-info
			.container
				h1 Дополнительные программы
				p Игра в раннем детстве - лучшая основа успеха в школе Наша деятельность будет стимулировать и развивать творческий потенциал, воображение, мыслительные и социальные навыки вашего ребенка.
				p Наш центр предлагает множество уникальных образовательных мероприятий, чтобы ваши дети были заняты. Развивает необходимые навыки обучения
				p Очень важно заинтересовать ребенка. Тогда он будет с любопытством узнавать новое. Мы побуждаем детей делать свои собственные открытия и самостоятельно приобретать опыт.

		section.programms-section
			.container
				.programm-item.d-flex
					.programm-item__img
						img(src="images/p-football.png", alt="")
					.programm-item__info
						.programm__title ФУТБОЛ
						.programm__description
							p Хотите укрепить здоровье вашего ребенка? Записывайте его на наши занятия футболом!
							p Футбол развивает  ловкость, выносливость, координацию движений и коммуникационные навыки. Командный вид спорта помогает построить хорошие отношения в коллективе. Ребята учатся не только забивать голы, но и поддерживать друг друга и общаться.

				.programm-item.d-flex
					.programm-item__img
						img(src="images/p-yoga.png", alt="")
					.programm-item__info
						.programm__title ЙОГА ДЛЯ ДЕТЕЙ
						.programm__description
							p Нарушение осанки, снижение остроты зрения, избыточный вес, повышенная возбудимость, плоскостопие - всех этих неприятных вещей можно избежать, если вовремя начать заниматься йогой. Йога – это растяжка и укрепление практически всех групп мышц и позвоночника, улучшение кровообращения. Йога учит детей расслабляться, находить внутренний покой при внешней суете и стрессе. В йоге нет элемента соревновательности, это выгодно отличает ее от других видов физической активности. Дети учатся принимать себя такими, какие они есть. Занятия по йоге также включают изучение английских слов - названия асан, действия, счет.

				.programm-item.d-flex
					.programm-item__img
						img(src="images/p-swim.png", alt="")
					.programm-item__info
						.programm__title БАССЕЙН
						.programm__description
							p Ваш ребенок часто болеет? Занятия в бассейне с морской водой помогут укрепить его иммунитет и сделать организм устойчивым к простудным и вирусным заболеваниям. Плавание формирует правильную осанку, укрепляет мышцы спины, что так необходимо современным детям и, тем более, школьникам. Всем также известно еще одно очень важное свойство воды – успокаивать и расслаблять, что поможет укрепить нервную систему ребенку, улучшить его сон и аппетит. Все программы и тренировки ведут опытные тренеры с профильным образованием.

				.programm-item.d-flex
					.programm-item__img
						img(src="images/p-chess.png", alt="")
					.programm-item__info
						.programm__title ШАХМАТЫ
						.programm__description
							p Шахматы - это удивительный и захватывающий мир. К сожалению, в массы вошел стереотип о том, что это скучно и очень сложно. Мы создали и развиваем сеть детских шахматных клубов Chess First, чтобы разрушить этот миф и показать, что этот спорт не только развивает ум, логику и усидчивость, он дает начало стратегической мысли и пониманию тактики, которые в будущем обязательно приведут ваших детей к успеху.

				.programm-item.d-flex
					.programm-item__img
						img(src="images/p-robots.png", alt="")
					.programm-item__info
						.programm__title РОБОТОТЕХНИКА
						.programm__description
							p Занятия робототехникой помогают развивать логическое и системное мышление, а также творческие способности. Даже если ваш ребенок не станет инженером и умение управлять роботом ему не понадобится, то понимание, как работает автоматическое устройство, и опыт конструирования обязательно пригодятся в другой деятельности, какую бы профессию ребенок не выбрал в будущем.   В ближайшее время самыми востребованными профессиями будут инженерные специальности. Соответственно, те дети, которые будут увлекаться робототехникой и конструированием – это будущие инженеры-инноваторы, которые будут востребованы не только на российском, но и на международном рынке.

				.programm-item.d-flex
					.programm-item__img
						img(src="images/p-math.png", alt="")
					.programm-item__info
						.programm__title МЕНТАЛЬНАЯ АРИФМЕТИКА
						.programm__description
							p Занятия ментальной арифметикой будут полезны и детям, интересующимся точными науками, и творческим натурам. Дети, которые не интересуются точными науками или неуверенно чувствуют себя, решая примеры по математике, найдут в занятиях ментальной арифметикой творческое начало, которое поможет им заинтересоваться учебой и проявить себя. Специфическое умение считать в уме необычным способом придает уверенности и смелости, чтобы справляться с трудностями в учебе. А еще активное развитие мышления поможет ребенку повысить успеваемость в школе и стать усидчивее. Ребёнок, успешно прошедший обучение, развивает скорость мышления, внимательность, память и абстрактное мышление, а также приобретает навык быстрых устных вычислений любой сложности.

				.programm-item.d-flex
					.programm-item__img
						img(src="images/p-vocal.png", alt="")
					.programm-item__info
						.programm__title ВОКАЛ
						.programm__description
							p Занятия вокалом улучшают память (так как нужно запоминать много текста песен), развивают способности к импровизации, стимулируют речевую активность и нормализуют дыхание, что полезно для профилактики респираторных заболеваний. В вокальной студии мы научим детей, как не боятся сцены и публики, легко преодолевать страхи и волнения перед выступлениями. Мы научим детей работать с микрофоном, правильно подбирать и преподносить репертуар,  поставим голос, подготовим к кастингам, фестивалям, вокальным конкурсам. Школа Талантов Я сотрудничает с музыкальным телеканалом Жара ТВ.

				.programm-item.d-flex
					.programm-item__img
						img(src="images/p-art.png", alt="")
					.programm-item__info
						.programm__title ХУДОЖЕСТВЕННАЯ СТУДИЯ
						.programm__description
							p Основная задача – воспитать ребенка нового поколения, которому будет подвластна информация об истории мира вокруг, красота, духовность и мировая культура. Который сможет эффективно применить развитый художественный вкус и креативное мышление в профессии будущего! Для которого досуг и путешествия станут еще богаче и разнообразнее. Искренне полюбит в путешествиях увлечение родителей ходить по музеям, по древним развалинам, любоваться архитектурой прошлых столетий. Ваш малыш искренне полюбит и почувствует искусство и Большую Культуру!





		include blocks/footer
		+scripts(["jquery.min.js", "glide.min.js", "main.js"]) 